html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    width: 200px;
    height: auto;
    border: 5px solid blueviolet;
    border-radius: 15px;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.head, .subhead{
    text-align: center;
}