body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: purple;
    text-align: center;
    background-color: beige;
}

/* may come finish this and make it pretty later, but I don't have the time at the moment */